script.
    var gc_geoJson = !{JSON.stringify(gc_json)};
    var fishnet_geoJson = !{JSON.stringify(fishnet_json)};
    var amap_geoJson = !{JSON.stringify(amap_json)};
    var amenity_geoJson = !{JSON.stringify(amenity_json)};
include index.html
